@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" ;body {
    margin: 0;
    padding: 0;
    background: white;
    
}
h2 {
    background: lightgray;
    padding: 1px;
    height: 5%;
}
.master-main {
    margin-left: 30%;
    margin-right: 30%;
    width: 50%;
    background: lightcyan;
    height: 900px;
    padding: 10px 20px;
}

.master-ref-blog {
    border: 1px solid black;
    background: lightblue;
    width: 600px;
}
.IMG {
    display: flex;
    margin-left: 20px;
}
.master-IMG-back-white {
    background: white;
    width: 300px;
    padding: 10px;
}
.master-IMG {
    width: 300px;
    background: white
}
.master-IMG-hover:hover {
    opacity: 0.6;
}
.master-IMG img {
    width: 300px;
    height: 200px;
}

.XMP {
    border: 1px solid black;
    width: 600px;
}
.master-article {
    
}
.master-article-1 {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    width: 600px;
}
.master-article-2 {
    border-radius: 25px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    width: 600px;
}
.master-article-3 {
    background: lightblue;
    border-radius: 25px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    width: 600px;
}
.master-footer {
    background: lightgray;
    text-align: center;
}